### Xcode ###
## User settings
xcuserdata/

## Build generated
build/
DerivedData/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Other
*.moved-aside
*.xccheckout
*.xcuserstate

### Xcode Patch ###
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

.DoseRowViewModel
.MedicationRowViewModel
